[submodule "pcb/KiCad-RP-Pico"]
	path = pcb/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "pcb/keyswitch-kicad-library"]
	path = pcb/keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library
